
.header {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: var(--purple);
}
.header-icon-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-avatar-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
.header-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80%;
  background-color: #38373c;
  /* border: 1px solid #d3d3d3; */
  border-radius: 10px; 
  cursor: pointer; 
}
.header-search-button p {
  color: #d3d3d3;
  margin-left: 10px;
}
.icon {
  color: #d3d3d3;
}
