.post {
  display: flex;
  align-items: flex-start;
  min-height: 60px;
  color: #d3d3d3;
  padding: 10px;
  padding-left: 30px;
}
.post:hover {
  background-color: var(--posthover);
  cursor: default;
}
.post-content {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.post-header {
  display: flex;
  align-items: flex-start;
}
.post-time {
  font-size: 12px;
  margin-left: 10px;
  color: rgb(84, 84, 84);
}
