.server-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.server-modal-content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 20px;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  border: solid 1px grey;
  background-color: var(--feed);
}
.server-modal-header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d3d3d3;
}
.server-modal-header h3 {
  color: #d3d3d3;
  margin-left: 20px;
  cursor: default;
}

.server-modal-option {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
}
.server-modal-option p {
  color: #d3d3d3;
  margin-left: 20px;
}
.server-modal-option:hover {
  background-color: #38373c;
}
