.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d3d3d3;
  width: 100%;
}

.sidebar-section-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.sidebar-section-title {
  width: 180px;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.sidebar-section-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 2px;
}

.sidebar-section-icon-container:hover {
  background-color: var(--purple);
}
